/* /////////////////////////////////////////////////////////////////////////////////////////////////
SET APP STYLESHEET - LIGHT THEME
///////////////////////////////////////////////////////////////////////////////////////////////// */
QMainWindow {
	border: none;
}

QWidget {
	font: 10pt "Segoe UI";
}

/* Tooltips */
QToolTip {
	color: white;
	font-weight: bold;
	background-color: black;
	border: none;
	background-image: none;
	background-position: left center;
    background-repeat: no-repeat;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border-radius: 5%;
}

/* Background */
#background {
    background-color: #ffffff;
    color: #47495a;
}

/* Top Bar */
#top_bar {
	background-color: white;
	border-bottom: 3px solid #eeeeee;
}

#light_bulb, #fact_label {
	background-color: #fdfaf1;
	font: 9pt "Aerial";
	padding: 2px 2px;
}

#light_bulb {
	border-left: 3px solid #ffcd27;
}

#coin_count, #badge_count {
	font-weight: 600;
}

#logo {
	background-color: transparent;
}


/* Top Bar Buttons */
#rightSection .QPushButton { background-color: transparent; border: none;  border-radius: 5px; }
#rightSection .QPushButton:hover { background-color: #ecedf1; }

/* Left Menu */
#leftMenu {
	background-color: white;
	border-right: 2px solid #eeeeee;
}

#leftMenu .QPushButton {	
	border: none;
	border-radius: 10px;
	margin: 5px;
}

#leftMenu .QPushButton:hover {
	background-color: #eeeeee;
}

#pageContainer {
	background-color: #f6f7fb;
}
