/* /////////////////////////////////////////////////////////////////////////////////////////////////
SET APP STYLESHEET - LIGHT THEME
///////////////////////////////////////////////////////////////////////////////////////////////// */
QMainWindow {
	border: none;
}

QWidget{
	color: #47495a;
	font: 10pt "Segoe UI";
}

/* Tooltips */
QToolTip {
	color: #47495a;
	background-color: #fcfcdd;
	border: 1px solid #000000;
	background-image: none;
	background-position: left center;
    background-repeat: no-repeat;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

/* Background */
#background {
    background-color: #ffffff;
    color: #47495a;
}

/* Top Bar */
#topBar {
    background-color: #ffffff;
	border-bottom: 2px solid #eeeeee;
}

#logo {
	background-color: transparent;
}

#search_field {
	background-color: #f6f7fb;
	border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
	padding-left: 20px;
}

#search_icon {
	background-color: #f6f7fb;
	border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
	padding: 5px;
}

/* Top Bar Buttons */
#rightSection .QPushButton { background-color: transparent; border: none;  border-radius: 5px; }
#rightSection .QPushButton:hover { background-color: #f6f7fb; }

/* Left Menu */
#leftMenu {	
	background-color: #ffffff;
	border-right: 2px solid #eeeeee;
}

#leftMenu .QPushButton {	
	border: none;
	border-radius: 10px;
	margin: 5px;
}

#leftMenu .QPushButton:hover {
	background-color: #eeeeee;
}

/* Page Container */
#pageContainer {
	background-color: #f6f7fb;
}